@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root {
  --page-1-color: #fdfdfd;
  --page-2-color: #ffc9dc;
  --page-3-color: #ff80a0;
  --page-4-color: #eed29c;
  --page-5-color: #5e5fab;
  --animate-speed: 1.5s;
  --font-family: font-family: 'Montserrat', sans-serif;
}



body {
  font-family: var(--font-family);
  line-height: 1.4;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 4rem;
}

.page h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 1rem 0;
}

.page p {
  font-size: 1.3rem;
  font-weight: bold;
}


.picture-box {
  width: 30vw;
  border-radius: 6px;
  margin-bottom: 0.25rem;
  overflow: hidden;
}

.picture-box img {
  width: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: #f4f4f4;
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
}

.btn:hover,
.btn-dark {
  background: #333;
  color: #fff;
}

.btn-dark:hover {
  background: #f4f4f4;
  color: #333;
}

/* Page Colors */

/* Page 1 */
#page-1 {
  background: var(--page-1-color);
  color: var(--page-5-color);
}
#page-1 h1 {
  color: var(--page-3-color);
}

#page-1 .btn {
  color: var(--page-5-color);
}

#page-1 .btn:hover {
  background-color: var(--page-3-color);
  color: var(--page-1-color);
}

/* Page 2 */
#page-2 {
  background: var(--page-2-color);
  color: var(--page-1-color);
}

#page-2 h1 {
  color: var(--page-1-color);
}

#page-2 p {
  color: var(--page-5-color);
}

#page-2 .btn {
  background: #f4f4f4;
  color: var(--page-5-color);
}

#page-2 .btn:hover,
#page-2 .btn-dark {
  background-color: var(--page-5-color);
  color: var(--page-1-color);
}

#page-2 .btn-dark:hover {
  background-color: var(--page-1-color);
  color: var(--page-5-color);
}

/* Page 3 */
#page-3 {
  background: var(--page-3-color);
}
#page-3 h1 {
  color: var(--page-1-color);
}

#page-3 .btn {
  background: #f4f4f4;
  color: var(--page-5-color);
}

#page-3 .btn:hover,
#page-3 .btn-dark {
  background-color: var(--page-5-color);
  color: var(--page-1-color);
}

#page-3 .btn-dark:hover {
  background-color: var(--page-1-color);
  color: var(--page-5-color);
}

/* Page 4 */
#page-4 {
  background: var(--page-4-color);
}

#page-4 h1 {
  color: var(--page-5-color);
}

#page-4 .btn {
  background: #f4f4f4;
  color: var(--page-5-color);
}

#page-4 .btn:hover,
#page-4 .btn-dark {
  background-color: var(--page-5-color);
  color: var(--page-1-color);
}

#page-4 .btn-dark:hover {
  background-color: var(--page-1-color);
  color: var(--page-5-color);
}

/* Page 5 */
#page-5 {
  background: var(--page-5-color);
}

#page-5 h1 {
  color: var(--page-4-color);
}

#page-5 .btn {
  background: #f4f4f4;
  color: var(--page-5-color);
}

#page-5 .btn:hover,
#page-5 .btn-dark {
  background-color: var(--page-4-color);
  color: var(--page-1-color);
}

#page-5 img

/* Page Animation */
#page-1 h1 {
  transform: translateY(-1200px);
  animation: heading var(--animate-speed) forwards ease-in;
}

#page-1 p {
  transform: translateX(-2000px);
  animation: paragraph var(--animate-speed) forwards ease-in 1s;
}

/* Keyframes */

@keyframes heading {
  to {
    transform: translateY(0);
  }
}

@keyframes paragraph {
  to {
    transform: translateY(0);
  }
}

.footer {
  width: 100%;
  height: 20%;
  font-size: .5rem;
  margin-top: 1rem;
}

.footer a {
  text-decoration: none;
  color: var(--page-4-color)
}

@media screen and (max-width:600px) {
  #page-1 h1 {
    font-size: 2.0rem;
  }

  .page h1 {
    font-size: 2;
  }

  .page p {
    font-size: 1rem;
  }
}
